__pycache__/
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPython
profile_default/
ipython_config.py

outputs/
core
checkpoint/
wandb/
swanlog/

draw_figure.ipynb

# all data files except deepspeed configuration
*.json
*.gz
!ds_config.json

*.faiss


# My testing files...
t.ipynb
t.py
tt.py
ttt.py
test.py
try.py
try_load.py
test_new.py
load_nyx.py
check_fb.py
check_token.py
train2222.sh